<h1>Listing principal_groupes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @principal_groupes.each do |principal_groupe| %>
      <tr>
        <td><%= principal_groupe.name %></td>
        <td><%= link_to 'Show', principal_groupe %></td>
        <td><%= link_to 'Edit', edit_principal_groupe_path(principal_groupe) %></td>
        <td><%= link_to 'Destroy', principal_groupe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Principal groupe', new_principal_groupe_path %>
