<%- model_class = SousGroupe -%>
<div class="page-header">
  <h1><%=t '.title', :default => SousGroupe %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:nom) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sous_groupes.each do |sous_groupe| %>
      <tr>
        <td><%= sous_groupe.id %></td>
        <td><%= sous_groupe.nom %></td>
        <td><%=l sous_groupe.created_at, format: :long %></td>
        <td>
          <%= link_to sous_groupe_path(sous_groupe), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to sous_groupe_path(sous_groupe), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sous_groupe_path,
            :class => 'btn btn-primary' %>
